.premium-upgrade {
    position: relative;
    left: 0;
    -webkit-transition: left ease-in-out .18s;
    transition: left ease-in-out .18s;
}

.premium-upgrade h3 {
	border: 0 !important;
}

.premium-upgrade a {
	display: block;
	padding: 9px 14px;
	color: #fff;
	background: #5cb85c;
	-webkit-transition: background 0.15s ease-in-out;
	transition: background 0.15s ease-in-out;
	text-decoration: none;
}

.premium-upgrade a:link,
.premium-upgrade a:visited,
.premium-upgrade a:hover,
.premium-upgrade a:active,
.premium-upgrade a:focus {
	color: #fff;
}

.premium-upgrade a:hover,
.premium-upgrade a:active,
.premium-upgrade a:focus {
	background: #449d44;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.premium-upgrade a:hover span,
.premium-upgrade a:active span,
.premium-upgrade a:focus span {
	right: 14px;
}

.premium-upgrade span {
	position: absolute;
	right: 17px;
	-webkit-transition: right 0.15s ease-in-out;
	transition: right 0.15s ease-in-out;
}

.premium-upgrade .accordion-section-title {
	padding: 0;
}